# build output
dist/
# generated types
.astro/
.vscode/
.idea/

# dependencies
node_modules/
vendor/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# debugging files


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
