/* Dark mode colors. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.line {
    font-family: 'JetBrains Mono', monospace;
    font-size: larger;
}

code {
    font-family: 'JetBrains Mono', monospace;
    margin: 0 0;
    padding: 0 0.3rem;
    line-height: normal;

    box-sizing: border-box;
    border-radius: 0.2em;
    border: 1px solid var(--color-code-border);
    background: transparent;
    background-image: linear-gradient(113deg,
            var(--color-code-light),
            var(--color-code-dark));

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* Dark mode colors. */
:root {
    --sl-color-accent-low: #202331;
    --sl-color-accent: #5b6796;
    --sl-color-accent-high: #c3c8da;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c0c2c7;
    --sl-color-gray-3: #888b96;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #24272f;
    --sl-color-black: #17181c;
    --color-code-border: #6e590c;
    --color-code-light: #5b4b12;
    --color-code-dark: #3e3205;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #d2d6e4;
    --sl-color-accent: #5d6999;
    --sl-color-accent-high: #2c3146;
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;
    --color-code-border: #ffe100;
    --color-code-light: #ffef7b;
    --color-code-dark: #ffec5d;
}